<h1>Cars#new</h1>
<%=link_to("Geri Dön", :action=>"index")%>
<p><% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %></p>

<%= form_for @car, url: {action: "create"}, html: {class: "new_form"} do |f| %>
  <p><%=label_tag("Marka")%><%= f.text_field :make %></p>
  <p><%=label_tag("Model")%><%= f.text_field :model %></p>
  <p><%=label_tag("Yıl")%><%= f.number_field :year, in: 1990..2004 %></p>
  <p><%=label_tag("Kapı Sayısı")%><%= f.number_field :doors_count, in: 2..7 %></p>
  <p><%=label_tag("VIN")%><%= f.text_field :vin %></p>
  <p><%=label_tag("Fiyat")%><%= f.text_field :price %></p>
  <p><%=label_tag("Durum")%><%=radio_button("car", "rented", "true")%><%=radio_button("car", "rented", "false")%></p>

  <p><%= f.submit "Oluştur" %></p>
<% end %>